<%= render "shared/header" %>

<div class="row">
  <div class="col-3">
    <div class="sidebar_content">
      <ul>
        <li calss="text-dark"><%=link_to"アカウント","/users/account"%></li>  
        <li calss="text-dark"><%=link_to_unless_current"プロフィール","/users/profile"%></li>
      </ul>
    </div>
  </div>
   <%=form_for @user,:url => {:users_profile => :user,method: :patch} do |f|%>
  
  <div class="col">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">名前</label>
      <div><%= f.text_field:name%></div>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">自己紹介</label>
      <div><%= f.text_area:introduction%></div>
    </div>
    
    <%= f.submit "更新" %>
  </div>
  <% end %>
</div>
</div>

					
