<div class="container">
  <div class="dvise_frame">
    <h2 class="text-center mb-4">ログイン</h2>
    <div class="devise_inner">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mb-3 w-100 row ml-0 mr-0">
          <div class="col-2"><span class="badge badge-danger">必須</span></div>  
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"メールアドレス",class:"col-10 form-control"%>
        </div>

        <div class="field mb-3 w-100 row ml-0 mr-0">
          <div class="col-2"><span class="badge badge-danger">必須</span></div>  
          <%= f.password_field :password, autocomplete: "current-password" ,placeholder:"パスワード",class:"col-10 form-control"%>
        </div>

        <div class="actions mb-1 w-100 row ml-0 mr-0" >
          <%= f.submit "ログイン", class:" p-2 m-1 btn-outline-primary text-white bg-primary rounded-pill col-12 form-control" %>
        </div>
        <div class="text-center" >
          <%= link_to"新しいアカウントを作成","/users/sign_up",class:"text-primary sign_in_link"%>
        </div>
      <% end %>
    </div>
  </div>
</div>