<div class="room">
  <div class="row">
    <% if @room.present? %>
      <h3 class="col-12 search-number">検索結果 <%= @cnt %>件です</h3> 
      <% @room.each do |room| %>
        <div class="col-3">
          <div class="room-search-frame">
            <%= link_to room_path(room.id),class:"room-link" do %>
              <div class="search-profile-image">
                <%= image_tag room.picture ,width:"100%",height:"100%",class:"pt-3" %>
              </div>
              <div class="room-search-profile">
                <div class="search-profile-name"><%= room.name %></div>
                <div class="search-profile-address"><%= room.address %></div>
                <div class="search-profile-price">¥<%= room.price %></div>
              </div>
            <% end %>
          </div>
        </div> 
      <% end %>  
    <% else %>
      <h3>検索結果はありませんでした</h3>  
    <% end %> 
  </div>
</div>