<div class="container">
  <div class="row">
    <div class="col-8">
      <%= image_tag @room.picture ,:size => "500x500" %>
      <div class="room-show-detile  mt-5">
        <div class="room-show-detile-icon">
          <%=image_tag @user.image,style: "border-radius: 50%",:size => "70x70" %>
        </div> 
        <div class="room-show-profile ml-4">
          <p class="room-show-profile-name"><%= @room.name %></p>
          <p class="room-show-profile-adress"><%= @room.address %></p>
        </div>  
      </div>    
      <p class="mt-3"><%= @room.information %></p>
      
    </div>
  </div>
</div>